body {
  margin: 0;
}

a:link {
  text-decoration: none;
  cursor: pointer;
}

h2 {
  margin-left: 5px;
  font-family: "Sixtyfour", sans-serif;
  font-size: smaller;
}

header {
  line-height: 30px;
  background-color: #7f1bf8;
  font-family: "Sixtyfour", sans-serif;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  padding: 0 0.1rem;
  margin: 3%;
  letter-spacing: 0cap;
  font-size: medium;
  color: #3a3939;
  text-align: center;
}

.subtitle h4 {
  font-weight: lighter;
  font-style: italic;
  font-size: smaller;

  color: orangered;
}

.subtitle h2 {
  font-weight: lighter;

  font-style: italic;
  font-size: smaller;

  color: #7f1bf8;
}

.container {
  margin-top: 3%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.product {
  height: max-content;
  width: 340px;
  margin: 0 0 20px 0;
  padding: 2px;
  margin-left: 0px;
  overflow: hidden;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product:hover {
  transform: translateY(-5px);
}
.img-wrapper {
  width: 100%;
  height: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-bottom: 1px solid #d6d6d6;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid #d6d6d6;

  z-index: 2;
}

.product-img-filter-sold,
.product-img-filter-notavailable,
.product-img-filter-reserved {
  width: 100%;
  height: 100%;
  color: #530909;
  opacity: 0.2;
  object-fit: cover;
}

.product h3 {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin-right: 10px;
}

.product-details {
  margin-left: 0px;
  padding: 3px;
  color: #373737;
  display: flex;
  color: #676565;
  flex-direction: column;
  font-size: 12px;
}

.desctexto {
  display: flex;
  text-align: start;
  word-break: break-all;
  font-size: small;
  align-items: start;
  width: 90%;
}

.product-details li {
  margin-bottom: 2px;
}

.discount {
  height: 41px;
  width: 41px;
  line-height: 45px;
  background-color: #7f1bf8;
  border-radius: 100%;
  color: #f3eeee;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  text-align: center;
  position: absolute;
  margin-top: -54px;
  margin-left: 0px;
  z-index: 10;
}

.price {
  height: 18px;
  line-height: 12px;
  color: #000b07;
  align-items: start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 11px;
  cursor: pointer;
}

.previousPrice {
  color: rgb(184, 12, 12) !important;
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 5px;
  align-items: start;
  justify-content: center;
}

.box {
  display: flex;
  width: 100%;
  max-height: fit-content;
  flex-direction: row;
  border-radius: 10px;
  align-items: end;
  justify-content: space-between;
  margin-top: 20px;
}

.icon {
  background-color: #00b652;
  align-items: flex-end;
  height: 20px;
}
.payment {
  background-color: #00b652;
  color: rgb(247, 240, 241);
  border: #7f1bf8;
  font-size: 11px;
  font-family: "Sixtyfour", sans-serif;
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: #00b652;
  border-radius: 10px;
  border-width: 2px;
}
.productheader {
  display: flex;
  background-color: #7f1bf8;
  flex-direction: row;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */

  justify-content: space-between;
  padding: 1%;
}
.product-span {
  margin: 0;
  color: #2eb600;
  font-weight: 400;
  font-size: small;
  font-family: "Sixtyfour", sans-serif;

  text-align: end;
}

.product-title {
  display: flex;
  margin-top: 5px;
  padding: 1px;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}

.product-title h3 {
  margin-top: 10;
  font-size: 12px; /* Elimina el margen predeterminado del h3 */
}

.product-title span {
  font-size: 14px; /* Establece el tamaño de fuente del span */
}
.category {
  font-weight: 900;
  font-size: small;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 2.5px;
  opacity: 0.9;
  color: #fff8f8;
  font-style: italic;
}

.available {
  padding: 1px 2.5px;
}

.sold {
  padding: 1px 2.5px;
  color: rgb(235, 135, 135);
  text-decoration: line-through;
}

.reserved {
  padding: 1px 2.5px;
  color: rgb(221, 232, 7);
  text-decoration: line-through;
}

.notavailable {
  padding: 1px 2.5px;
  color: red;
}
.categoryFilter {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 5px;
  font-size: 15px;
}
/* Estilo base para el select */
select {
  margin: 1px;
  padding: 3px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #333;
  cursor: pointer; /* Cambia el cursor al pasar sobre el select */
}

/* Estilo al pasar el cursor sobre el select */
select:hover {
  border-color: #999;
}

/* Estilo al enfocar el select */
select:focus {
  border-color: #555;
  outline: none; /* Elimina el contorno al hacer clic */
}

.avion {
  position: fixed;
  top: 50%;
  left: -50px; /* Posición inicial del avión fuera de la pantalla */
  font-size: 40px; /* Tamaño del avión */
  animation: moverAvion 10s linear infinite; /* Aplicando la animación */
  z-index: 2; /* Asegura que el avión esté encima de las nubes */
}

.progress {
  background: rgba(1, 15, 30, 0.1);
  height: 3px;
  overflow: hidden;
  position: relative;
}

.progress::before {
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #111;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 80px;
}
hr {
  border: 0;
  font-family: "Sixtyfour", sans-serif;
  clear: both;
  display: block;
  text-align: center;
  width: 100%;
}

.h2prod {
  color: #7f1bf8;
}

@keyframes progress {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1440px);
  }
}

@keyframes moverAvion {
  0% {
    transform: translate(0px, 0px); /* Empieza en la posición inicial */
  }
  25% {
    transform: translate(360px, -30px); /* Sube ligeramente en el 25% del vuelo */
  }
  50% {
    transform: translate(720px, 0px); /* Vuelve a la altura original en la mitad del vuelo */
  }
  75% {
    transform: translate(1080px, 30px); /* Baja ligeramente en el 75% del vuelo */
  }
  100% {
    transform: translate(1440px, 0px); /* Termina en la posición final */
  }
}
